body {
    background-color: #eeeeee;
}
div#corpo {
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
/* Menu*/
nav#menur{
    display: block;
    padding: 10px;
}
.menu{
    position: relative;
    list-style:none; 
    float: right; 
    margin: 2px;
}
.menu li{
    position: relative; 
    float: left; 
    border-right:1px solid black; 
}
.menu li a{
    color: rebeccapurple; 
    text-decoration:none; 
    padding: 5px; 
    display:block;
} 
.menu li a:hover{
    background: rgb(181, 152, 207); 
    color: rebeccapurple; 
    text-shadow:0px 0px 5px rebeccapurple; 
}
.menu li  ul{
    position: absolute; 
    top:25px; 
    left:0;
    background-color:#fff; 
    display:none;
}
.menu li:hover ul, .menu li.over ul{
    display:block;
}
.menu li ul li{
    display:block; 
    width:150px;
}
/* Estrutura Basica */
h1{
    text-align: center;
    color: rgb(79, 24, 131);
}
h2 {
    color: blueviolet
}
h3 {
    color: rgb(106, 56, 153);
}
xmp {
    border-radius: 10px;
    border: 1px solid black;
}
/* System Block */
div#SystemBlock{
    padding: 5px;
    text-align: justify;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 2px rgb(0,0,0,0.5);
}
/* Rodape */
footer{
    margin: 10px;
    border-top: 1px solid black;
    padding: 5px;
    text-align: center;
}